<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-content> -->
      <form>
  <ion-item>
    <ion-label>Product</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="new">Test</ion-select-option>
      <ion-select-option value="existing">Test</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>SubProduct</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="new">Test1</ion-select-option>
      <ion-select-option value="existing">Test2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Rate</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pieces</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Weight</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Amount</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </form>
<!-- </ion-card-content>
  </ion-card> -->
  <ion-button fill="outline" color="warning" style="float: right;">Reset</ion-button>
  <ion-button color="warning" style="float: right;">Add to Cart</ion-button>
</ion-content>
