<!-- <ion-header>
  <ion-toolbar [color]="primary">
    <ion-title>Fieldworks</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<div class="main">
  <h1 class="title">Fieldworks</h1>
</div>
<ion-grid [fixed]="true" class="card">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content (click) = "insertDate()">
          <img src="./assets/icon/diskette.png" />
          <span class="label">Pull</span>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content (click) = "goToorder()">
          <img src="./assets/icon/briefcase.png" />
          <span class="label">Order</span>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
<ion-grid class="card2" [fixed] = 'true'>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content (click) = 'gotoSales()'>
          <img src="./assets/icon/schedule.png" />
         <span class="label">Sales</span>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
<!-- <ion-list lines="full">
  <form [formGroup]="mainForm" (ngSubmit)="storeData()">
    <ion-item>
      <ion-label position="floating">Artist name</ion-label>
      <ion-input formControlName="artist" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Song name</ion-label>
      <ion-input formControlName="song" type="text" required>
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">
          Add Song
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-list> -->
<!-- <ion-list>
  <ion-list-header>
    Songs
  </ion-list-header>

  <ion-item lines="inset" *ngFor="let data of Data">
    <ion-label>
      <h5>{{data.artist_name}}</h5>
      <p>{{data.song_name}}</p>
    </ion-label>

    <div class="item-note" item-end>
      <ion-icon name="create" style="zoom:2.0" [routerLink]="['/song/', data.id]"></ion-icon>        
      <ion-icon name="trash" style="zoom:2.0" (click)="deleteSong(data.id)"></ion-icon>
    </div>
  </ion-item>
</ion-list> -->
</ion-content>

