<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
<div style="margin: 84% 15%;">
  <div style="text-align: center; font-size: xxx-large; font-weight: bolder;">FieldWorks</div><br>
  <div style="text-align: center">V 0.0.1</div>
</div>
</ion-content> -->

<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center; color: gray;">Cart is Empty</h2>
</ion-content>