

<ion-content [fullscreen]="true">

  <div padding [@flyInBottomFast]="cloudState" id="cloud-layer">

    <ion-avatar>
        <img [@flyInBottomSlow]="logoState" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>

    <ion-row>
      <ion-col>
        <form [formGroup]="SignupForm">
          <ion-list inset [@bounceInBottom]="formState">
            <ion-item class="inputRadius">
              <ion-label position="floating">Username</ion-label>
              <ion-input [(ngModel)]="userName" name="username" type="text" formControlName = "username"></ion-input>
            </ion-item>
            <br/>
            <ion-item class="inputRadius">
              <ion-label position="floating">Password</ion-label>
              <ion-input [(ngModel)]="passWord" name="password"type="password" formControlName = "password"></ion-input>
            </ion-item>
  
          </ion-list>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="warning" class="login-button" [@fadeIn]="loginState" (click)="getLogin()">Login</ion-button>
      </ion-col>
    </ion-row>

 

  </div>
  
</ion-content>
