<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-content> -->
      <form>
  <ion-item>
    <ion-label>Customer</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="new">New Customer</ion-select-option>
      <ion-select-option value="existing">Existing Customer</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Address</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Area</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mobile Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Payment Type</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="new">credit</ion-select-option>
      <ion-select-option value="existing">Emi</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Day</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="new">test</ion-select-option>
      <ion-select-option value="existing">test</ion-select-option>
    </ion-select>
  </ion-item>
  </form>
<!-- </ion-card-content>
  </ion-card> -->
  <ion-button color="warning" style="float: right;">Reset</ion-button>
</ion-content>
