<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="up">
      <ion-icon name="person"></ion-icon>
      <ion-label class="fontTab">Customer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon name="airplane"></ion-icon>
      <ion-label class="fontTab">Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label class="fontTab">Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
